/Gentoo-10.0-x86-root_fs
/linux-3.8.3.tar.xz
/swap.img

/linux-3.8.3*/
!/linux-3.8.3/include/linux/init_task.h
!/linux-3.8.3/include/linux/sched.h
!/linux-3.8.3/kernel/sched/core.c
!/linux-3.8.3/kernel/sched/dummy.c
!/linux-3.8.3/kernel/sched/fair.c
!/linux-3.8.3/kernel/sched/Makefile
!/linux-3.8.3/kernel/sched/sched.h
!/linux-3.8.3/kernel/sysctl.c
